.trial_lesson_button {
    background: linear-gradient(#834DF2 0%, #1279F8 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 20px;
    color: #FFFFFF;
    font-size: 24px;
    border-radius: 18px;
    min-height: 64px;
    cursor: pointer;
    transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
}

.trial_lesson_button:hover {
    box-shadow: 0 0 16px rgba(131, 77, 242, 0.6), 0 0 32px rgba(18, 121, 248, 0.4);
    transform: scale(1.01);
}