#courses_section {
    display: flex;
    justify-content: center;
}

.courses_wrapper {
    max-width: 1920px;
    width: 100%;
    padding: 64px 192px;
}

.courses_section_header {
    position: relative;
    height: 200px;
}

.courses_section_header h2 {
    position: absolute;
    right: 0;
    color: #00D9FF;
    font-size: 82px;
    font-weight: 700;
    text-align: center;
    padding: 16px 32px;
    border: 2px solid #00D9FF;
    border-radius: 40px;
    display: inline-block;
    box-shadow: 0 0 12px rgba(0, 217, 255, 0.6);
    background-color: #05062E;
    margin: 0;
}

.filterButtons {
  display: flex;
  gap: 21px;
}

.filterButtons  button {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding: 16px 32px;
    border: 2px solid #00D9FF;
    border-radius: 40px;
    display: inline-block;
    box-shadow: 0 0 12px rgba(0, 217, 255, 0.6);
    background-color: #0D0D0D;
    margin: 0;
    margin-top: 41px;
    cursor: pointer;
}

.filterButtons button.active {
  background-color: #262626;
}

.courses_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 128px;
  row-gap: 64px;   
  margin: 0 auto;
}

.course_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 664px;
  height: 244px;
  background-color: #00071F;
  border: 2px solid #00D9FF;
  border-radius: 36px;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.course_card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
}

.course_img_wrapper {
  flex-shrink: 0;
}

.course_img_wrapper img {
  width: 279px;
  height: 279px;
}

.course_info {
  display: flex;
  flex-direction: column;
  margin-left: 64px;
}

.course_info h3 {
    font-size: 64px;
    font-weight: 700;
    margin: 0;
}

.course_card:nth-child(4n+1) h3,
.course_card:nth-child(4n+4) h3 {
  color: #00e0ff;
}

.course_card:nth-child(4n+2) h3,
.course_card:nth-child(4n+3) h3 {
  color: #AA47FD;
}

.course_info button {
    width: 298px;
    height: 41px;
    border: 2px solid #00D9FF;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #00071F;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 5px;
}