#courses_section {
  padding: 96px 0px;
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
  width: 100%;
}

.filter {
  background: #F9FAFC;
  border: none;
  border-radius: 12px;
  padding: 8px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.5s ease;
}

.filter.active {
  background: #1E1B3A;
  color: white;
}

.filter:hover {
  background: #e1e1e9;
}

.filter.active:hover {
  background: #1E1B3A;
}

.cards_container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-start;
  width: 100%;
  min-height: 435px;
}

.course_card {
  background: white;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  padding: 16px;
  width: 350px;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.course_card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.course_icon {
  width: 96px;
  height: 96px;
}

.course_info_container {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.course_info h3 {
  font-size: 20px;
  margin: 0;
}

.course_info p {
  font-size: 14px;
  color: #666;
  margin: 4px 0 0 0;
}

.course_buttons {
  width: 100%;
  display: flex;
  gap: 8px;
  margin-top: auto;
}

.btn_primary {
  background: #6776FD;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  flex-grow: 1;
}

.btn_secondary {
  background: #f5f5f7;
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  flex-grow: 1;
  border: 1px solid rgba(30, 27, 58, 0.08);
}

.btn_primary:hover {
  background: #2323e6;
}

.btn_secondary:hover {
  background: #e6e6ed;
}

@media (max-width: 1780px)
{
    #courses_section {
      width: 90%;
    }

  .filters {
    justify-content: center;
  }

  .cards_container {
    justify-content: center;
  }
}

@media (max-width: 430px)
{
    .filter{
      font-size: 12px;
      padding: 4px 16px;
    }

    #courses_section {
      width: 90%;
    }
}
