#courses_section {
    display: flex;
    justify-content: center;
}

.courses_section_wrapper {
    max-width: 1920px;
    width: 100%;
    padding: 64px 192px;
}

.courses_section_head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2rem;
}

.about_section_header {
    color: #00D9FF;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    padding: 4px 32px 8px 32px;
    border: 2px solid #00D9FF;
    border-radius: 40px;
    display: inline-block;
    box-shadow: 0 0 12px rgba(0, 217, 255, 0.6);
    background-color: #05062E;
    margin: 0px;
}

.filterButtons {
    display: flex;
    gap: 1rem;
}

.filterButton {
    padding: 0.5rem 1.5rem;
    min-width: 211px;
    height: 64px;
    border: 1px solid transparent;
    border-radius: 32px;
    background-image:
        linear-gradient(#000000, #000000),
        linear-gradient(#834DF2 0%, #1279F8 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: background-image 0.5s ease-in-out;
}

.filterButton:hover,
.filterButton.active {
    background-image:
        linear-gradient(#262626, #262626),
        linear-gradient(#834DF2 0%, #1279F8 100%);
}



.courseGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 64px;
}

.courseCard {
    border: 1px solid transparent;
    background-image:
        linear-gradient(#00071F, #00071F),
        linear-gradient(#834DF2 0%, #1279F8 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 704px;
    max-width: 704px;
    min-height: 384px;
}

.courseTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.blue {
    color: #00eaff;
}

.purple {
    color: #c082ff;
}

.courseImage {
    width: 64px;
    height: 64px;
    margin-bottom: 1rem;
}

.detailsButton {
    background: none;
    border: 1px solid #00eaff;
    border-radius: 20px;
    padding: 8px 11px 8px 18px;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 298px;
    height: 41px;
    max-height: 41px;
}

.detailsButton:hover {
    background-color: #00eaff;
    color: #0b0b2e;
}

.detailsButtonImage {
    border-radius: 32px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailsButtonImage img {
    width: 19px;
    height: auto;
}

.purple_bg {
    background-color: #c082ff;
}

.blue_bg {
    background-color: #00eaff;
}
