header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding-left: 48px;
    padding-right: 48px;
    width: 100%;
    border-bottom: rgba(30, 27, 58, 0.08);
    position: sticky;
    background-color: #F9FAFC;
}

.logo_container {
    display: flex;
    align-items: center;
}

.logo_container img {
    width: 56px;
    height: 56px;
    margin-right: 8px;
}

.logo_container h1 {
    color: #1E1B3A;
    margin: 0px;
    padding: 0px;
}

.nav_container {
    display: flex;
}

.nav_container nav {
    height: 100%;
    max-height: 65px;
}

.nav_container ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 33px;
    padding: 0px;
    margin: 0px;
}

.nav_container li:hover {
    cursor: pointer;
}

.nav_container button {
    background-color: #6C30FF;
    color: white;
    height: 42px;
}