#price_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 748px;
    background: linear-gradient(180deg, #F9FAFC 10%, #D1B3FF 100%);
    color: #1E1B3A;
}

.header_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 32px;
}

.header_container h1 {
    font-weight: bold;
    font-size: 56px;
    text-align: center;
}

.header_container p {
    font-size: 24px;
    text-align: center;
}

.price_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 18px;
    min-height: 535px;
    height: 535px;
}

.price_card {
    width: 304px;
    min-width: 304px;
    height: 90%;
    min-height: 450px;
    border-radius: 32px;
    padding: 18px;
    transform: scaleY(1);
    transition: all 0.5s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.card_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.price_card .title {
    font-weight: bold;
    font-size: 48px;
    width: 100%;
} 

.price_card p {
    font-size: 16px;
}

#btn_card {
    width: 100%;
    border-radius: 26px;
}

.features {
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.first_card {
    background-color: #F9FAFC;
    border: 1px solid rgba(108, 48, 255, 0.25);
    color: #1E1B3A;
}

.second_card {
    background-color: #EDE6FF;
    border: 1px solid rgba(108, 48, 255, 0.25);
    color: #1E1B3A;
}

.third_card {
    background: linear-gradient(45deg, #2F63E1 0%, #6C30FF 50%, #85ADFE 100%);
    color: white;
}

.third_card h3 {
    color: white;
}

.third_card p {
    color: white;
}

.card_info {
    flex-grow: 1;
}

.active_card {
    transform: scaleY(1.1);
}

.price {
    color :#6C30FF;
    font-size: 32px;
}

.third_card .price {
    color: white;
}

@media (max-width: 1000px)
{
    .active_card 
    {
        transform: scaleY(1);
    }

    .price_container
    {
        flex-direction: column;
        height: auto;
    }

    .header_container h1 {
    font-size: 36px;
    }

    .header_container p {
        font-size: 14px;
    }
}