*, *::after, *::before {
  box-sizing: border-box;
}

body.landing {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #040531;
}

body.platform {
  display: flex;
  justify-content: center;
  margin: 0px;
  font-family: 'Press Start 2P', cursive;
  background-color: #1f2a40;
  color: #ffffff;
}
