*, *::after, *::before {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

button, .button {
  padding: 12px 24px;
  border-radius: 8px;
  box-shadow: none;
  min-height: 42px;
  font-size: 16px;
  transition: all 0.5s ease-out;
  text-align: center;
}

.button:hover {
  cursor: pointer;
}

.button-with-primary-color {
  background-color: #6C30FF;
  color: white;
}

.button-with-primary-color:hover {
  background-color: #5c29db;
  color: white;
}

.button-with-accent-color {
  background-color: #6776FD;
  color: white;
}

.button-with-accent-color:hover {
  background: #2323e6;
}

button:hover,
button:focus {
  box-shadow: none;
  outline: none;
}

h1, p, h2, h3 {
  margin: 0px;
  padding: 0px;
  color: #1E1B3A;
  text-shadow: none;
}
