*, *::after, *::before {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

button, .button {
  padding: 12px 24px;
  border-radius: 8px;
  box-shadow: none;
  min-height: 42px;
  font-size: 16px;
  transition: all 0.4s ease-out;
  transform: scale(1, 1);
}

.button:hover {
  cursor: pointer;
  transform: scale(1.01, 1.01);
}

.button-with-primary-color {
  background-color: #6C30FF;
  color: white;
}

.button-with-accent-color {
  background-color: #6776FD;
  color: white;
}

button:hover,
button:focus {
  box-shadow: none;
  outline: none;
}

h1, p, h2, h3 {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "Rubik";
  src:
    url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
}
